{% extends 'kingadmin/table_index.html' %}


{% block css %}
    <style>
        .container{
            width: 350px;
        }
    </style>
{% endblock %}


{% block container %}
    <div class="page-header">
        <h4>重置 "{{ model_object.email }}" 用户的密码</h4>
    </div>

    <div class="container">

        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            <p>
                {{ form_object.password1.label }}
                {{ form_object.password1 }}
            </p>
            {% if form_object.errors.password1 %}
                <div class="alert alert-danger" role="alert">
                    {{ form_object.errors.password1 }}
                </div>
            {% endif %}
            <p>
                {{ form_object.password2.label }}
                {{ form_object.password2 }}
            </p>
            {% if form_object.errors.password2 %}
                <div class="alert alert-danger" role="alert">
                    {{ form_object.errors.password2 }}
                </div>
            {% endif %}

            <input type="submit" value="修改密码" class="btn btn-success pull-right">
        </form>
    </div>

{% endblock %}

